.main {
  margin-top: 47px;
}
.section {
  padding: 22px;
  margin-bottom: 22px;
  bottom: 1px solid var(--color-border);
  border-radius: 10px;
}
.new_releases {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 21px;
  /*  column-gap = 10px*/
  row-gap: 18px;
}
.release_img {
  max-width: 100%;
  /* min-height: auto; */
}
.section__title {
  margin-top: 0;
  margin-bottom: 10px;
}
.playlists_arr {
  height: 100px;
}
/* new releases */
.new-releases_and_title_new-releases {
  max-width: 712px;
  margin: 0 auto 58px;
}
.new_releases {
  max-width: 712px;
}
.title_and_ellipse_new-releases,
.title_and_ellipse_featured_playlists {
  display: inline-flex;
}
.ellipse {
  background-color: rgb(248, 153, 28);
  width: 14px;
  height: 18px;
  margin-left: 0;
}
/* Featured Playlists */
.title_new-releases,
.section__title_playlists {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  color: rgb(45, 45, 45);
  font-weight: bold;
  margin-left: 10px;
}
.title_new-releases {
  margin-bottom: 12px;
}
/* .Vector {
  background-color: rgb(248, 153, 28);
  position: absolute;
  left: 5033px;
  top: 3181px;
  z-index: 843;
}
.Vector {
  background-color: rgb(248, 153, 28);
  position: absolute;
  left: 5031px;
  top: 3499px;
  width: 18px;
  height: 16px;
  z-index: 945;
}

.Rectangle_5 {
  border-width: 1px;
  border-color: rgb(230, 239, 251);
  border-style: solid;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 5028px;
  top: 3212px;
  width: 161px;
  height: 203px;
  z-index: 893;
}
.Rectangle_6 {
  
  position: absolute;
  left: 5226px;
  top: 3227px;
  
  z-index: 909;
}

*/
.release {
  border-width: 1px;
  border-color: rgb(131, 185, 255);
  border-style: solid;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  width: 161px;
  height: auto;
}
.release_img {
  border-radius: 15px;
  width: 133px;
  height: 125px;
  margin: 15px;
}
.release_name {
  font-size: 15px;
  font-family: "Lato", sans-serif;
  color: rgb(45, 45, 45);
  font-weight: bold;
}
.releas_artist {
  font-size: 12px;
  font-family: "Lato", sans-serif;
  color: rgb(124, 141, 181);
  font-weight: 900;
  margin-top: 10px;
}
.release_name,
.releas_artist {
  margin-left: 15px;
}
.ellipse_2 {
  background-color: rgb(248, 153, 28);
  width: 18px;
  height: 16px;
  margin-left: 0;
}
