.main {
  margin-top: 47px;
}
.section {
  padding: 22px;
  margin-bottom: 22px;
  border-radius: 10px;
}
.new_releases {
  display: grid;
  /* grid-auto-rows: 205px; */
  grid-template-columns: repeat(4, 1fr);
  column-gap: 21px;
  /*  column-gap = 10px*/
  row-gap: 18px;
  /* border: 1px solid crimson; */
}
.release_img {
  max-width: 100%;
  /* min-height: auto; */
}
.section__title {
  margin-top: 0;
  margin-bottom: 10px;
}
.playlists_arr {
  height: 100px;
}
/* new releases */
.new-releases_and_title_new-releases {
  max-width: 760px;
  margin: 0 auto 58px;
  /* margin: 0 auto; */
  border: 1px #e6effb;
}
.new_releases {
  /* max-width: 712px; */
  border-radius: 10px;
  border: 1px solid #e6effb;
}
.title_and_ellipse_new-releases,
.title_and_ellipse_featured_playlists {
  display: inline-flex;
}
.ellipse {
  background-color: rgb(248, 153, 28);
  width: 14px;
  height: 18px;
  margin-left: 0;
}
/* Featured Playlists */
.title_new-releases,
.section__title_playlists {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  color: rgb(45, 45, 45);
  font-weight: bold;
  margin-left: 10px;
}
.title_new-releases {
  margin-bottom: 12px;
}
/* .Vector {
  background-color: rgb(248, 153, 28);
  position: absolute;
  left: 5033px;
  top: 3181px;
  z-index: 843;
}
.Vector {
  background-color: rgb(248, 153, 28);
  position: absolute;
  left: 5031px;
  top: 3499px;
  width: 18px;
  height: 16px;
  z-index: 945;
}

.Rectangle_5 {
  border-width: 1px;
  border-color: rgb(230, 239, 251);
  border-style: solid;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 5028px;
  top: 3212px;
  width: 161px;
  height: 203px;
  z-index: 893;
}
.Rectangle_6 {
  
  position: absolute;
  left: 5226px;
  top: 3227px;
  
  z-index: 909;
}

*/
.release {
  border-width: 1px;
  border-color: #e6effb;
  border-style: solid;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  height: auto;
  padding: 15px;
}
.release_block {
  /* display: block; */
  /* height: 125px; */
  /* height: auto; */
  border-radius: 15px;
  overflow: hidden;
}
.release_img {
  display: block;
  /* width: 100%; */
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  object-position: center;
}
.release_name {
  font-size: 15px;
  color: rgb(45, 45, 45);
  font-weight: bold;
  text-decoration: none;
}
.releas_artist {
  font-size: 12px;
  color: rgb(124, 141, 181);
  font-weight: 900;
  margin-top: 10px;
}
.release_name,
.releas_artist {
  /* margin-left: 15px; */
}
.ellipse_2 {
  background-color: rgb(248, 153, 28);
  width: 18px;
  height: 16px;
  margin-left: 0;
}

.container_ {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
}

@media only screen and (min-width: 320px) and (max-width: 384px) {
  .section {
    padding: 22px;
    margin-bottom: 22px;
    bottom: 1px solid var(--color-border);
    border-radius: 10px;
    max-width: 100%;
  }
  .section__title {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .playlist-style {
    width: 40px;
  }

  .playlist-text {
    margin-left: 17px;
    margin-bottom: 5px;

    max-width: 204px;
  }

  .playlist-container {
    display: flex;
    padding: 17px;
  }
}

@media only screen and (min-width: 385px) and (max-width: 708px) {
  .section {
    padding: 22px;
    margin-bottom: 22px;
    bottom: 1px solid var(--color-border);
    border-radius: 10px;
  }
  .section__title {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .playlist-style {
    width: 40px;
  }

  .playlist-text {
    max-width: 330px;
    margin-left: 17px;
    margin-bottom: 5px;
  }

  .playlist-container {
    display: flex;
    padding: 17px;
  }
}
.section {
  padding: 22px;
  margin-bottom: 22px;
}
.section__title {
  margin-top: 0;
  margin-bottom: 10px;
}

.playlist-style {
  width: 40px;
  height: 40px;
}

.playlist-text {
  margin-left: 17px;

  margin-bottom: 5px;
  max-width: 330px;
}

.playlist-container {
  display: flex;
  padding: 17px;
}

.section_title {
  margin-bottom: 26px;
}

.section {
  border: 1px solid #e6effb;
  box-sizing: border-box;
  box-shadow: 0px 4px 64px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
}

.playlist-description {
  margin-left: 17px;
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 17px;
  color: #7c8db5;
}
/* ///////////////////////media/////////////////////// */
/* ///////////////////////tablet/////////////////////// */

@media (max-width: 708px) {
  .title_and_ellipse_new-releases {
    margin-left: 25.64px;
  }
  .new_releases {
    grid-template-columns: repeat(3, 1fr);
  }
  .release {
  }
  /* .release_name,
  .releas_artist {
  } */
}
/* @media screen and ()and() {
  
} */

/* ///////////////////////mobile/////////////////////// */
@media (max-width: 540px) {
  .new_releases {
    grid-template-columns: repeat(2, 1fr);
  }
}
