/* FONTS: 
font-family: 'Lato', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lato", sans-serif;
}

body {
  /* width: auto; */
}
/* .container {
  max-width: 758px;
} */
.container {
  max-width: 760px;
  width: 100%;
  margin: 0 auto;
  /* border: 1px solid crimson; */
}
header {
  padding-top: 23px;
}
.nav {
  z-index: 2;
  align-items: center;

  /* vertical-align: middle; */
}
.nav > div {
  vertical-align: middle;
}

/* @media (max-width: 548px) {
  .new-releases {
    grid-template-columns: repeat(1, 1fr);
  }
  .nav {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  .nav__toggler {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 100%;
    padding: 11px 37px;
    border: 1px solid var(--color-border);
    border-radius: 10px;
  }
  .nav__menu_open {
    display: flex;
  }

  .item_of_nav:not(:last-child) {
    margin-right: 0;
    margin-bottom: 22px;
  }

  .dimmer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(45, 45, 45, 0.35);
    display: none;
  }

  .dimmer_active {
    display: block;
  }
} */
.nav__menu {
  display: inline-flex;
}
.menu {
  display: flex;
}
.nav__menu {
  display: flex;
}
.item_of_nav {
  list-style: none;
}

.item_of_nav:not(:last-child) {
  margin-right: 22px;
}

.menu-item_link,
.developer {
  font-size: 16px;
  font-weight: bold;
  color: rgb(124, 141, 181);
  transition: 0.3s linear all;
  text-decoration: none;
  margin-right: 5px;
}
.menu-item_link,
.developer-box {
  margin-right: 0;
}
.developer-box {
  margin-left: auto;
}
.item_of_nav:not(:last-child) {
  margin-right: 20px;
}
.menu-item_link:hover {
  color: rgb(45, 45, 45);
}
.developer-box {
  display: flex;
  align-items: center;
}
.developer {
  font-weight: bold;
  text-decoration: none;
}
.developer:hover {
  color: rgb(45, 45, 45);
}
.developer_photo {
  width: 30px;
  height: 30px;
  border-width: 1px;
  border-color: rgb(230, 239, 251);
  border-style: solid;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}
/* .Browse {
  font-size: 16px;
  font-family: "Lato";
  color: rgb(45, 45, 45);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 5003.937px;
  top: 3103.9px;
  z-index: 993;
}
.John_Doe {
  font-size: 16px;
  font-family: "Lato";
  color: rgb(45, 45, 45);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  left: 5660.299px;
  top: 3106.9px;
  z-index: 999;
}
.Ellipse_4 {
  border-width: 1px;
  border-color: rgb(230, 239, 251);
  border-style: solid;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  left: 5731px;
  top: 3099px;
  width: 30px;
  height: 31px;
  z-index: 1000;
}
.Ellipse_4 {
  position: absolute;
  width: 30px;
  height: 31px;
  z-index: 1000;
}
*/

/* ////////////////////////// */
/* .container_ * {
} */
/* .nav__toggler {
  display: none;
} */

/* .nav {
  position: relative;
  display: flex;
  justify-content: flex-end;
} */

/* @media (max-width: 540px) {
  .nav {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
  .nav__toggler {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
  }
  .nav__menu {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 100%;
    padding: 11px 37px;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    background-color: #fff;
  }
  .nav__menu_open {
    display: flex;
  }
  .item_of_nav:not(:last-child) {
    margin-right: 0;
    margin-bottom: 22px;
  }
} */

/* @media (max-width: 540px) {
  .nav__menu {
    display: none;
  }
} */
.nav__toggler {
  display: none;
}

/* ///////////// */
@media (max-width: 540px) {
  .menu {
    flex-direction: column;
    text-align: center;
  }
  .nav__menu {
    display: none;
  }
  .nav {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  .nav__toggler {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
    margin-left: auto;
  }
  .nav__menu {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 100%;
    padding: 11px 37px;
    border: 1px solid var(--color-border);
    border-radius: 10px;
    background-color: #fff;
  }
  .developer-box {
    padding-top: 15px;
  }
  .nav__menu_open {
    display: flex;
    flex-direction: column;
  }
  .item_of_nav:not(:last-child) {
    margin-right: 0;
    margin-bottom: 22px;
  }
  .dimmer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(45, 45, 45, 0.35);
    display: none;
    z-index: 1;
  }
  .dimmer_active {
    display: block;
  }
}
